* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    padding-top: 72px;
    line-height: 1.6;
    background: #80DEEA;
}
a {
    text-decoration: none;
    color: #EEE;
}
a:hover {
    color: #000;
}
h3 {
    margin: 1em 0;
}
p {
    margin: 0.5em 0;
}
.icon {
   width: 2em; 
   height: 2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.linkIcon {
   width: 1em; 
   height: 1em;
}
.content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    margin-bottom: 6em;
    min-width: 280px;
}
.item {
    position: absolute;
    width: 280px;
    margin-right: 10px;
    margin-top: 10px;
    transition: all 1s;
    padding: 1em ;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
                rgba(0, 0, 0, 0.23) 0px 3px 10px;
    color: #EEE;
}
.showImg {
    width: 100%;
}
.color-orange {
    min-height: 300px;
    background-color: #FF5722;
}
.color-purple {
    min-height: 300px;
    background-color: #3F51B5;
}
.color-blue {
    min-height: 300px;
    background-color: #2196F3;
}

.color-green {
    min-height: 300px;
    background-color: #009688;
}

.color-pink {
    min-height: 300px;
    background-color: #E26787;
}

header {
     padding: 1em 0;
     text-align: center;
     color: #EEE;
     background: #00BCD4;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
                 rgba(0, 0, 0, 0.12) 0px 1px 4px;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 100;
}

footer {
    margin-top: 1em;
    text-align: center;
    background: #313639;
    color: #EEE;
    padding: 1em 0;
    letter-spacing: 1px;
}

footer .icon {
    vertical-align: bottom;
}