* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    padding-top: 72px;
    line-height: 1.6;
    background: #80DEEA;
    height: 100vh;
}
a {
    text-decoration: none;
    color: #EEE;
}
a:hover {
    color: #000;
}
h3 {
    margin: 1em 0;
}
p {
    margin: 0.5em 0;
}
.icon {
   width: 2em; 
   height: 2em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
.linkIcon {
   width: 1em; 
   height: 1em;
}
.content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2em;
    margin-bottom: 6em;
    min-width: 280px;
}
.item {
    position: absolute;
    width: 280px;
    margin-right: 20px;
    margin-bottom: 30px;
    transition: all 1s;
    padding: 1em ;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px,
                rgba(0, 0, 0, 0.23) 0px 3px 10px;
    color: #EEE;
}



.showImg {
    width: 100%;
}
.color-orange {
    min-height: 300px;
    background-color: #FF5722;
}
.color-purple {
    min-height: 300px;
    background-color: #3F51B5;
}
.color-blue {
    min-height: 300px;
    background-color: #2196F3;
}

.color-green {
    min-height: 300px;
    background-color: #009688;
}

.color-pink {
    min-height: 300px;
    background-color: #E26787;
}

header {
     padding: 1em 0;
     text-align: center;
     color: #EEE;
     background: #00BCD4;
     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px,
                 rgba(0, 0, 0, 0.12) 0px 1px 4px;
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 100;
}

footer {
    margin-top: 1em;
    text-align: center;
    background: #313639;
    color: #EEE;
    padding: 1em 0;
    letter-spacing: 1px;
}

footer .icon {
    vertical-align: bottom;
}

.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    opacity: 1;
    z-index: 10;
    background: #80DEEA;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loading.none {
    opacity: 0;
    z-index: -10;
}


.loading .loader {
    position: relative;
    top: -70px;
    width: 5em;
    height: 5em;
    transform: rotate(165deg);
}

.loading .loader:before, .loading .loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  transform: translate(-50%, -50%);
}

.loading .loader:before {
  animation: before 2s infinite;
}
.loading .loader:after {
  animation: after 2s infinite;
}

@keyframes before {
  0% {
    width: 1em;
    box-shadow: 2em -1em rgba(225, 20, 98, 0.75),
               -2em 1em rgba(93, 81, 186, 0.75);
  }
  35% {
    width: 5em;
    box-shadow: 0 -1em rgba(225, 20, 98, 0.75),
                0 1em rgba(93, 81, 186, 0.75);
  }
  70% {
    width: 1em;
    box-shadow: -2em -1em rgba(225, 20, 98, 0.75),
                2em 1em rgba(93, 81, 186, 0.75);
  }
  100% {
    box-shadow: 2em -1em rgba(225, 20, 98, 0.75),
               -2em 1em rgba(93, 81, 186, 0.75);
  }
}
@keyframes after {
  0% {
    height: 1em;
    box-shadow: 1em 2em rgba(35, 112, 168, 0.75),
               -1em -2em rgba(233, 169, 32, 0.75);
  }
  35% {
    height: 5em;
    box-shadow: 1em 0 rgba(35, 112, 168, 0.75),
                -1em 0 rgba(233, 169, 32, 0.75);
  }
  70% {
    height: 1em;
    box-shadow: 1em -2em rgba(35, 112, 168, 0.75),
                -1em 2em rgba(233, 169, 32, 0.75);
  }
  100% {
    box-shadow: 1em 2em rgba(35, 112, 168, 0.75),
               -1em -2em rgba(233, 169, 32, 0.75);
  }
}